[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
autopep8 = "*"
gunicorn = "*"
psycopg2 = "*"
flake8 = "*"
mysqlclient = "*"
django-dotenv = "*"
django-crispy-forms = "*"

[requires]
python_version = "3.7"
