DEBUG=1

SECRET_KEY=your_secret_key

DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1 [::1]


DB_ENGINE=django.db.backends.mysql
DB_TYPE=mariadb
DB_DATABASE_NAME=your_database_name
DB_USERNAME=your_database_username
DB_PASSWORD=your_database_password  
DB_HOST=db
DB_PORT=3306

DJANGO_SUPERUSER_USERNAME=your_django_admin_superuser_username
DJANGO_SUPERUSER_PASSWORD=your_django_admin_superuser_password
DJANGO_SUPERUSER_EMAIL=your_django_admin_superuser_email
